.parent-container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:100vh;
    width:100%;
    background-color: lightgoldenrodyellow;
}

.center-content{
    display:flex;
    align-items: center;
    justify-content: center;;
}

.button-location{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    
}

#container{
    display:flex;
    flex-direction: column;
    background-color: white;
    border: 20px solid grey;
    width: 650px;
    height:650px;

}

#btn-new{
    margin-right:60px;
    background-color: rgb(71, 255, 71);
    border: 5px solid grey;
    width:160px;
    height:80px;
}

#btn-reset{
    margin-right:60px;
    background-color: tomato;
    border: 5px solid grey;
    width:160px;
    height:80px;
    margin-top: 40px;

}

#title{
    margin-left: 160px;
    font-family: Didot, "Times New Roman", Times, serif;
}


